In [1]:
import os
import pandas as pd
os.listdir()

['.config', 'drive', 'sample_data']

In [0]:
path='drive/My Drive/Text Analytics/Dataset/'

In [3]:
cd drive/My Drive/Text Analytics/Dataset/

/content/drive/My Drive/Text Analytics/Dataset

In [0]:
test = pd.read_csv('yelp_review.csv')

In [5]:
test.head(10)

                review_id                 user_id  ... funny  cool
0  vkVSCC7xljjrAI4UGfnKEQ  bv2nCi5Qv5vroFiqKGopiw  ...     0     0
1  n6QzIUObkYshz4dz2QRJTw  bv2nCi5Qv5vroFiqKGopiw  ...     0     0
2  MV3CcKScW05u5LVfF6ok0g  bv2nCi5Qv5vroFiqKGopiw  ...     0     0
3  IXvOzsEMYtiJI0CARmj77Q  bv2nCi5Qv5vroFiqKGopiw  ...     0     0
4  L_9BTb55X0GDtThi6GlZ6w  bv2nCi5Qv5vroFiqKGopiw  ...     0     0
5  HRPm3vEZ_F-33TYVT7Pebw  _4iMDXbXZ1p1ONG297YEAQ  ...     0     0
6  ymAUG8DZfQcFTBSOiaNN4w  u0LXt3Uea_GidxRW1xcsfg  ...     0     2
7  8UIishPUD92hXtScSga_gw  u0LXt3Uea_GidxRW1xcsfg  ...     0     0
8  w41ZS9shepfO3uEyhXEWuQ  u0LXt3Uea_GidxRW1xcsfg  ...     0     0
9  WF_QTN3p-thD74hqpp2j-Q  u0LXt3Uea_GidxRW1xcsfg  ...     0     0

[10 rows x 9 columns]

In [6]:
test.shape

(5261668, 9)

In [0]:
del test['review_id']
del test['user_id']
del test['business_id']
del test['funny']
del test['cool']

In [0]:
pos_test = test['stars']>=4
pos_test = test[pos_test]
neg_test = test['stars']<=2
neg_test = test[neg_test]
avg_test = test['stars']==3
avg_test = test[avg_test]

In [31]:
print(pos_test.shape)
print(neg_test.shape)
print(avg_test.shape)

(3476663, 4)
(1169524, 4)
(615481, 4)

In [0]:
new_pos_df = pos_test.sample(25000)
new_neg_df = neg_test.sample(25000)
new_avg_df = avg_test.sample(25000)

In [33]:
print(new_pos_df.isnull().values.any())
print(new_neg_df.isnull().values.any())
print(new_avg_df.isnull().values.any())

False
False
False

In [0]:
index=list(range(1,25001))

In [35]:
len(index)

25000

In [0]:
new_pos_df.index = index
new_neg_df.index = index
new_avg_df.index = index

In [0]:
new_pos_df.to_csv('pos_cleaned_25k_yelp.csv',index=False)
new_neg_df.to_csv('neg_cleaned_25k_yelp.csv',index=False)
new_avg_df.to_csv('avg_cleaned_25k_yelp.csv',index=False)

In [38]:
print(new_pos_df.shape)
print(new_neg_df.shape)
print(new_avg_df.shape)

(25000, 4)
(25000, 4)
(25000, 4)

In [39]:
new_pos_df.head(10)

    stars  ... useful
1       5  ...      0
2       4  ...      2
3       4  ...      0
4       4  ...      7
5       5  ...      0
6       5  ...      0
7       5  ...      0
8       5  ...      0
9       5  ...      0
10      5  ...      0

[10 rows x 4 columns]

In [40]:
new_neg_df.head(10)

    stars  ... useful
1       2  ...      4
2       1  ...      4
3       2  ...      3
4       2  ...      0
5       1  ...      1
6       1  ...      7
7       1  ...      0
8       1  ...      0
9       2  ...      5
10      1  ...      0

[10 rows x 4 columns]

In [41]:
new_avg_df.head(10)

    stars  ... useful
1       3  ...      0
2       3  ...      0
3       3  ...      0
4       3  ...      4
5       3  ...      2
6       3  ...      1
7       3  ...      0
8       3  ...      2
9       3  ...      4
10      3  ...      1

[10 rows x 4 columns]